:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: red solid 1px;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
p,
h1,
h2,
h3 {
  margin: 0.5rem;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
