.page {
  display: flex;
  justify-content: center;
  width: 100vw;
  border: 1px black solid;
  max-width: 1600px;
  height: 600px;
  padding: 5px;
  container-type: inline-size;
}

.layout {
  display: grid;
  max-width: 900px;
  height: 100%;
  padding: 5px;
  border: 1px solid orange;
}

.main {
  display: grid;
  border: 1px solid magenta;
}

@container (min-width: 900px) {
  .layout {
    grid-template-columns: 3fr 1fr;
  }
}

@container (max-width: 500px) {
  .layout {
    grid-gap: rem;
  }
}
