.synonyms {
  margin: 5px;
  text-align: center;
  text-transform: capitalize;
  border: 1px red solid;
}

.ul {
  list-style: none;
  padding-left: 0;
  max-height: 200px;
  overflow: scroll;
}

.list {
  margin-bottom: 1rem;
}
