.container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px green solid;
  padding: 20px;
}

.label {
  margin-right: 10px;
}

.input {
  height: 16px;
}

.button {
  height: 20px;
}

.container h1 {
  font-size: small;
}
